body {
    background-color: rgb(119, 88, 70);
}

.title-text {
    font-family: Merriweather;
    font-size: 4rem;
    color: #ebb;
    text-shadow: 4px 4px 2px black;
}

h2,
.subtitle-text {
    font-family: Merriweather;
    font-size: 1.5rem;
    color: #ebb;
    text-shadow: 2px 2px 4px black;
}

.lead,
.mb-0 {
    font-family: Aleo;
    font-weight: 700;
    font-size: 1.25rem;
    color: #eee;
    text-shadow: 1px 3px 5px black;
}

em {
    color: #ebb;
}

a {
    color: #7af;
    text-decoration-line: none;
}