#cat {
    max-width: 100%;
    max-height: 75vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

#quote-text {
    margin-top: 10px;
}

.container {
    background: #fff8;
    border-radius: 10px;
}

.row {
    margin-top: 10px;
}

.soft-bg {
    background: #ddd8;
    padding: 8px;
    border-radius: 10px;
}

h1,
h2 {
    font-family: "Noto-Serif-Khitan-Small-Script", serif;
}

p,
button,
blockquote footer {
    font-family: "Aleo";
}

blockquote p::first-letter {
    font-size: 2rem;
    margin-right: 2px;
}

button {
    border-radius: 5px;
    border-style: hidden;
}