.jumbotron {
    /*background image licensed CC0*/
    background-image: url('https://free-images.com/lg/812e/jam_homemade_home_cooked.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

.jumbotron h1 {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 3px 3px 3px #000000;
}

.margin-top-sm {
    margin-top: 2rem;
}